.nav-wrapper {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.search {
  margin:0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 15px;
}

h4 {
  font-size: 20px;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

.main-header {
  background:url('runner.jpg');
  text-align: center;
  min-height: 450px;
  max-width: 100%;
  size: cover;
  background-repeat: no-repeat;
}

/*#image {
  background: url('runner.jpg');
  max-width: 100%;
  min-height: 200px;
  background-size: cover;
}*/
/* found from https://blog.udemy.com/search-box-css/*/
form {
                width:500px;
                margin:50px auto;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

/* chart for the chart */
(function (ChartJsProvider) {
  ChartJsProvider.setOptions({ colors : [ '#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'] });
});
